<body>
        <div class="limiter">
            <div class="container-login100" style="background-image: url('../assets/images_login/logo_login.jpg');">
                <div align="center">
                    <div class="d-flex justify-content-center">
                        <h1>Nivel Dificil</h1>
                    </div>
                    <div class="container justify-content-center">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque at sapien et
                            vestibulum. Quisque eget
                            nisl sit amet felis luctus rhoncus ut vel leo. Suspendisse accumsan urna eu erat euismod, ac
                            faucibus arcu
                            fermentum. Suspendisse efficitur nisi sed volutpat pretium. Nullam laoreet scelerisque
                            nulla, sit amet accumsan
                            velit aliquam lobortis. In eu ullamcorper nunc. Vivamus at orci turpis. Nullam tempus
                            posuere leo, vitae
                            vulputate justo faucibus vel
                            In semper turpis cursus interdum condimentum. Etiam elementum aliquam lectus, nec congue
                            elit.</p>
                    </div>
                    <div class="container form" style="border-radius: 25px">
                        <iframe
                            src="https://docs.google.com/forms/d/e/1FAIpQLSfOraeySBSOjdSI_Dgzv95-xo0D9TTDAbV6gbXyi0_iW83aPw/viewform?embedded=true"
                            width="800" height="900" frameborder="0" marginheight="0" marginwidth="0">Carregando…
                        </iframe>
                        <button (click)="goToPage('home')" class="login100-form-btn">
                            Finalizar
                        </button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </body>