<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<div class="limiter">
        <br>
        <h2 style="text-align: center;">Ranking</h2>
        <br>
        <p style="text-align: center;">Ranking atualizado semanalmente</p>
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
                                <th class="column2">#</th>
								<th class="column3">Nome</th>
								<th class="column5">Quantidade</th>
								<th class="column6">Total Pontos</th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<td class="column1">1</td>
									<td class="column2">Teste</td>
									<td class="column3">3</td>
									<td class="column4">999</td>
                                </tr>
                                <tr>
                                    <td class="column1">2</td>
                                    <td class="column2">Teste2</td>
                                    <td class="column3">2</td>
                                    <td class="column4">560</td>
                                </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>